# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
dist
build
*.tsbuildinfo

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE / OS
.idea
.vscode
*.swp
*.swo
.DS_Store
Thumbs.db

# Vercel
.vercel

# Misc
*.pem
